
<tr [formGroup]="questionForm">

  <td class="flex">
    <button pTooltip="Supprimer" showDelay="500" [disabled]="questionIndex == 1" class="p-element p-ripple p-button-rounded p-button-danger p-button p-component p-button-icon-only" type="button" (click)="delete(questionIndex)">
      <span class="p-button-icon pi pi-trash"></span>
    </button>
  </td>

  <td>{{questionIndex}}</td>

  <td>
    <span class="p-input-icon-left">
      <i class="pi pi-question-circle"></i>
      <input type="text" placeholder="Intitulé de la question" formControlName="question" class="p-inputtext w-full"/>
    </span>
    <div *ngIf="questionForm.get('question')?.dirty && questionForm.get('question')?.hasError('required')">
      <small class="p-error">Ce champ est obligatoire</small>
    </div>
  </td>
    
  
  <ng-container formArrayName="answers">
    <td *ngFor="let answer of answers.controls; let i = index">
      <span class="p-input-icon-left">
        <i class="pi pi-chevron-circle-right"></i>
        <input [formControlName]="i" type="text" placeholder="Réponse {{i + 1}}" class="p-inputtext w-full"/>
      </span>
      <div *ngIf="answers.at(i)?.dirty && answers.at(i)?.hasError('required')">
        <small class="p-error">Ce champ est obligatoire</small>
      </div>
    </td>
  </ng-container>

  <td>
    <p-dropdown [options]="[{label: 'Réponse 1', value: 0}, {label: 'Réponse 2', value: 1}, {label: 'Réponse 3', value: 2}]" 
                formControlName="correctAnswer" optionLabel="label" optionValue="value" placeholder="Réponse correcte" [appendTo]="'body'">
    </p-dropdown>

    <div *ngIf="questionForm.get('correctAnswer')?.dirty && questionForm.get('correctAnswer')?.hasError('required')">
      <span>Ce champ est obligatoire</span>
    </div>
  </td>

  
</tr>

  